.key {
  background-color: #555;
  color: #fff;
  margin: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  transition: background-color 0.2s;
}

.key:hover {
  background-color: #777;
}



.key.default {
  background-color: #555;
}

.key.pretty {
  background-color: #2196f3;
}

.key.subst {
  background-color: #ff9800;
}

.key.modifiers {
  background-color: #9c27b0;
}

.key.mod0,
.key.mod1,
.key.mod2,
.key.mod3,
.key.mod4,
.key.mod5,
.key.mod6,
.key.mod7,
.key.mod8,
.key.mod9 {
  background-color: #4caf50;
}